* {
    padding: 0;
    margin: 0;
}

table {
    border-spacing: 0;
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    background-color: black;
}

.safe {
    background-color: white;
    /* z-index: 10; */
}

.finish {
    background-color: green !important;
}

#ball {
    position: absolute;
    pointer-events: none;
    /* z-index: 100 !important; */
}

#overray {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 1000;
}

#gameover {
    display: none;
    position: absolute;
    top: 30%;
    font-size: 50px;
    width: 100%;
    color: red;
}

#success {
    display: none;
    position: absolute;
    top: 30%;
    font-size: 50px;
    width: 100%;
    color: green;
}

#retry {
    width: 200px;
    height: 100px;
    bottom: 30%;
    font-size: 20px;
}

.board-wrapper {
    text-align: center;
    background-color: black;
    height: 100vh;
    position: relative;
}

.board {
    display: inline-table;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
}